* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.circle-container {
    background: linear-gradient(135deg, #00feba, #5b548a);
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.outer-circle {
    position: relative;
    width: 20rem;
    height: 20rem;
    border: 0.4rem solid rgba(255, 255, 255, 0.2);
    animation: rotateNegative 3s linear infinite;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.middle-circle {
    width: 12rem;
    height: 12rem;
    border: 0.4rem dotted rgba(255, 255, 255, 0.4);
    animation: rotatePositive 3s linear infinite;
}


.inner-circle {
    width: 6rem;
    height: 6rem;

    border: 0.4rem solid rgba(255, 255, 255, 0.6);
    animation: rotateNegative 3s linear infinite;
}

.line {
    position: absolute;
    width: 10rem;
    border-bottom: 0.4rem dotted rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    animation: blink 1s infinite alternate;
}

@keyframes cycle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes rotateNegative {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }

}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}