* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;
}


.container {
    position: relative;
    width: 50rem;
    border-radius: 2rem;
    margin-top: 5rem;
    padding: 4rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 80%;
    height: 6rem;

    border: none;
    outline: none;

    padding: 1rem 2.5rem;
    border-radius: 3rem;

    font-size: 1.8rem;
    color: #555;
    background-color: #ebfffc;
}

.search-btn {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    place-items: center;

    border: none;
    outline: none;

    color: #555;
    background-color: #ebfffc;

    display: grid;

    margin-left: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

.search-btn>img {
    width: 1.5rem;
    height: 1.5rem;
}

.search-btn:hover {
    transform: scale(1.1);
}


.weather-status {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    gap: 4rem;
}

.weather-status>img {
    display: grid;
    width: 20rem;
    padding: 2rem;
}

.cloud-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.8rem;
}

.cloud-status>p {
    text-align: center;
    font-size: 2rem;
}

.cloud-status>h1 {
    text-align: center;
    font-size: 3rem;

}

.cloud-status>h2 {
    text-align: center;
    font-size: 3rem;
}

.weather-detail {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 4rem;
}

.inner {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.inner>img {
    width: 4rem;
    height: 4rem;
}

.inner>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.humidity {
    font-size: 3rem;
}

.inner>div>p:last-child {
    font-size: 2rem;
}

.wind {
    font-size: clamp(2rem, 2.5rem, 3rem);
}